ul {
  list-style-type: none;
  width: 5em;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  width: 2em;
  height: 2em;
}

button {
  width: 4em;
  height: 2em;
}